extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

      
        h1 Elias Starks

        
        p.lead.text-light
          | Full Stack JavaScript Developer.
          | 

       
        .portfolio-bio
          p
            | After working in the CRM law sector for four years, I realized that while I enjoyed thinking logically, I wanted to actually use that logic to build things, rather than just use tools made by others. 
            | So I enrolled in a Team TreeHouses coding bootcamp, and it turned out that programming requires exactly the right combination of concentration, creativity, and execution that I was looking for. Now 
            | finished  with my certification and looking to establish myself in th tech indusry. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

       
        ul
          li Express
          li Node.js
          li jQuery
          li Object Oriented Programing 
          li Rest API creation
          li React
        h6 Contact Info

       
        ul
          li 678-462-7152 
          li eriosstarks@gmail.com

       
        a.button.expanded(href='https://www.linkedin.com/in/elias-starks/') LinkedIn
        a.button.expanded(href='https://github.com/eriosstarks28') GitHub
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  